body {
	background-color: #BFD5E2;
	color: #B2ABBF;
}

.container {
	background-color: #373F51;
}

img {
	width: 150px;
}

 .footer {
    text-align: center;
    font-family: Dancing Script;
}